
:host {
    display: flex;
    flex-direction: row;
}

#sidebar {
    flex: 1;
}

#main-content {
  background-image:
    url('https://lh3.googleusercontent.com/e4-uae8fa0UxweRGgokdHtUKan8sURMmJ4A_6dABhxXSVCGs35FyxB9ZYMzfTvZGTA=h900');
  flex: 4;
  padding: 0 1rem;
}

