<div *ngIf="afAuth.authState | async; let user; else showLogin">
  <h1 style="color: orange">Welcome {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
  <h2 style="color: orange">Please login or sign up (if you're not afraid of Fire) </h2>
  <button (click)="login('email-password')">Login with Email/Password</button><br/><br />
  <button (click)="login('google')">Login with Google</button>
  <!--<button (click)="login('facebook')">Login with Facebook</button>-->
  <!--<button (click)="login('twitter')">Login with Twitter</button>-->
  <button (click)="login('github')">Login with GitHub</button>
  <!--<button (click)="login('anonymous')">Login Anonymously</button>-->
</ng-template>
