<h2 style="color: orange">Managing Firemen with levels of access.  </h2>
<!-- <h3>AngularFireDatabase with valueChanges() method</h3>
<p>
  <strong>valueChanges()</strong> returns an Observable of data as a synchronized array of the JSON object. (async pipe uses with
  this method)
</p> -->

<!--<div class="json">
  <h3>Items List JSON View</h3>
  <p>{{ items | async | json }}</p>
</div>-->

<div class="list-box">
  <ul class="items-list">
    <li *ngFor="let item of items | async" class="item-box">
      <h3>
        {{ item.name }}
      </h3>
      &nbsp;&nbsp;&nbsp;<span>Role is {{ item.role }}.</span>
        &nbsp;<span>UID: {{item.key}}</span>
        <span *ngIf="item.role === 'Admin'">
          <a (click)="man = item; toggleEditItemForm()">EDIT PROFILE</a>
        </span>
           
      <div class="remove" (click)="removeSingleItemFromList(item.key)">X</div>
    </li>
  </ul>

  <!--<div class="list-actions">
    <input type="text" placeholder="Title" #pushTitle>
    <input type="text" placeholder="Size" #pushSize>
    <input type="text" placeholder="Details" #pushDetails>
    <input type="text" value="https://website.com" disabled=true #pushLink>
    <input type="text" value="https://screenshotlayer.com/images/assets/placeholder.png" disabled=true #pushImage>
    <button (click)="pushItemToList(pushTitle.value, pushSize.value, pushDetails.value, pushLink.value, pushImage.value)">PUSH TO LIST</button>
    <button (click)="removeAllItems()" class="delete">DELETE ALL ITEMS</button>
  </div>-->
</div>

<div class="edit-form" *ngIf="isEditVisible">
  <form [formGroup]="editItemForm">

    <div class="form-group">
      <label for="name">Change name:</label>
      <input type="text" id="name" formControlName="name" value="{{man.name}}" #setName />
      <br /><br />

      <label for="sel1">Define role:</label>
      <select class="form-control" id="sel1" formControlName="role" #setRole>
        <option selected>Admin</option>
        <option>User</option>
        <option>No role</option>
      </select>
    </div>
   


    <!--<button (click)="setSingleItem(setRole.value)">SET</button>-->
    <button class='btn btn-danger' (click)="updateSingleItem(setRole.value, setName.value)">UPDATE THIS FIREMAN</button>
    <button class='btn btn-default'(click)="toggleEditItemForm()">Close</button>
  </form>
</div>

<!-- <p>
  <strong>snapshotChanges()</strong> returns an Observable of data as a synchronized array of
  <strong>AngularFireAction&lt;DatabaseSnapshot&gt;[]</strong>.</p>
<p>
  <strong>stateChanges()</strong> returns an Observable of the most recent changes as a
  <strong>AngularFireAction[]</strong>.
</p>
<p>
  <strong>auditTrail()</strong> returns an Observable of
  <strong>AngularFireAction[]</strong> as they occur. Similar to stateChanges(), but instead it keeps around the trail of events
  as an array.
</p> -->
